---
layout: ""
page_title: "Provider: Netbox"
description: |-
  The netbox provider provides resources and data sources to interact with Netbox.
---

# Netbox Provider

The Terraform Netbox provider is a plugin for Terraform that allows for the full lifecycle management of [Netbox](https://docs.netbox.dev/en/stable/) resources.

Use the navigation to the left to read about the available resources.

## Supported Netbox versions
Netbox often makes breaking API changes even in non-major releases. Check the table below to see which version this provider is compatible with your Netbox version. It is generally recommended to use the provider version matching your Netbox version.

| Netbox version | Provider version |
| -------------- | ---------------- |
| v3.3.0 - 3.4.6 | v3.0.x and up    |
| v3.2.0 - 3.2.9 | v2.0.x           |
| v3.1.9         | v1.6.x and up    |
| v3.1.3         | v1.1.x and up    |
| v3.0.9         | v1.0.x           |
| v2.11.12       | v0.3.x           |
| v2.10.10       | v0.2.x           |
| v2.9           | v0.1.x           |
| v2.9           | v0.0.x           |

Additionally, since version [1.6.6](https://github.com/e-breuninger/terraform-provider-netbox/commit/0b0b2fffa54d4ab2e5f1677e948b01e56ba211c8), each version of the provider has a built-in list of all Netbox versions it supports at release time. Upon initialization, the provider will probe your Netbox version and include a (non-blocking) warning if the used Netbox version is not supported.

## Configuration
You must configure the provider with proper credentials before you can use it. You can configure the provider via attributes in the provider block or via environment variables. See [Schema](#schema) for all configuration options

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
