---
layout: ""
page_title: "Provider: Netbox"
description: |-
  The netbox provider provides resources and data sources to interact with Netbox.
---

# Netbox Provider

The Terraform Netbox provider is a plugin for Terraform that allows for the full lifecycle management of [Netbox](https://netbox.readthedocs.io/en/stable/) resources.

You must configure the provider with proper credentials before you can use it.

Use the navigation to the left to read about the available resources.

Each resource's `id` (unless otherwise specified) is computed by the resource and should not be specified for resource creation. These IDs are critical for relating different resource objects to each other - a common pattern is creating a resource / retrieving a datasource for a type of Netbox object, then using that object's id for creation in a subsequent resource (see example below)

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
