---
name: ci-testing
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: test
        run: make test

  testacc:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        netbox-version:
          # - v4.2.1 has a bug where mac addresses cannot be assigned
          - v4.2.2
          - v4.2.3
          - v4.2.4
          - v4.2.5
          - v4.2.6
          - v4.2.7
          - v4.2.8
          - v4.2.9
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: testacc
        run: make -e testacc
        env:
          NETBOX_VERSION: ${{ matrix.netbox-version }}
