---
name: ci-testing
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: test
        run: make test

  testacc:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        netbox-version:
          - v3.6.0
          - v3.6.1
          - v3.6.2
          - v3.6.3
          - v3.6.4
          - v3.6.5
          - v3.6.6
          - v3.6.7
          - v3.6.8
          - v3.6.9
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: testacc
        run: make -e testacc
        env:
          NETBOX_VERSION: ${{ matrix.netbox-version }}
