---
name: ci-testing
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: test
        run: make test

  testacc:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        netbox-version:
          # - v4.0.0 has mandatory tenant group
          - v4.0.1
          - v4.0.2
          - v4.0.3
          # - v4.0.4 does not exist for some reason
          - v4.0.5
          - v4.0.6
          - v4.0.7
          - v4.0.8
          - v4.0.9
          - v4.0.10
          - v4.0.11
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: testacc
        run: make -e testacc
        env:
          NETBOX_VERSION: ${{ matrix.netbox-version }}
