---
name: ci-testing
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: test
        run: make test

  testacc:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        netbox-version:
          - v4.3.0
          # - v4.3.1 # with this version, we get {"scope":["Please select a site."]} for prefixes
          - v4.3.2
          - v4.3.3
          - v4.3.4
          - v4.3.5
          - v4.3.6
          - v4.3.7
          - v4.4.0
          - v4.4.1
          - v4.4.2
          - v4.4.3
          - v4.4.4
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: testacc
        run: make -e testacc
        env:
          NETBOX_VERSION: ${{ matrix.netbox-version }}
