name: ci-testing
on: [push, pull_request]
jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.14
      - name: test
        run: make test

  testacc:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.14
      - name: testacc
        run: make testacc
        env:
          NETBOX_VERSION: "v2.9"